
<header class="jumbotron jumbotron-m-index">

  <div class="jumbotron--background">
  </div>

  <div class="jumbotron--content introduction">
    <h1 class="introduction--logo">亚春华</h1>

    <p class="what-we-do">
     我们一直在努力
      <span class="what-we-do--emphasis"><strong>Web</strong> &amp; <strong>Mobile</strong></span>
      <span class="what-we-do--emphasis">Applications</span>
    </p>
    <hr>
    <p class="what-we-do">专业的设计和开发团队</p>
    <a class="introduction--button button button-m-white-transparent js-scrollto" href="#welcome">了解更多...</a>

    <div class="introduction--scroll-down">
      <a class="js-scrollto" href="#welcome"><span class="fa fa-angle-double-down"></span><span
      class="u-sr-only"></span></a>
    </div>
  </div>

</header>

<div class="navbar-container navbar-container-m-sticky js-sticky">
  <nav class="navbar navbar-m-gray">
    <div class="container">
      <div class="navbar--brand">
        <a href="/">亚春华</a>
      </div>
      <div class="navbar--menu">

        <ul class="nav-menu">
          <li><a href="/">关于我们</a></li>
          <li><a href="/work">项目介绍</a></li>
          <li><a href="/contact">联系我们</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>


<section class="proem" id="welcome">
  <div class="container">
    <h2>
      关于我们
    </h2>

    <p>
      At Oozou we firmly believe that the best people, tools and processes
      result in the best applications. With years of experience building
      high quality applications for companies large and small, we can provide
      great perspective on how to design and build your application.
    </p>

    <p>
      Our carefully chosen tools and refined processes ensure that your project
      progresses smoothly and launches successfully. Through iterative development,
      continuously tested deployments and a tight customer feedback loop, no time is wasted.
    </p>

    <br><br>
  </div>
</section>


<section class="expertise">
  <div class="container">
    <h2>我们的工作</h2>

    <div class="expertise--contents">
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-uxui">
          <h3>UI &amp; UX 设计</h3>

          <p>我们的设计者可以根据用户的需求<br>设计出优秀的应用界面</p>
        </div>
      </div>
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-web">
          <h3>Web</h3>

          <p>使用目前最浏览行的后台程序框架<br>保障您的系统更稳定更快速</p>
        </div>
      </div>
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-mobile">
          <h3>Mobile</h3>

          <p>为iOS和Android等移动设备<br>创造更优秀的应用</p>
        </div>
      </div>
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-agile">
          <h3>敏捷</h3>

          <p>最少的迭代，最短的开发周期<br>最优秀的产品</p>
        </div>
      </div>
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-test">
          <h3>测试</h3>

          <p>专业的测试工作<br>保障产品的出错率降到最低</p>
        </div>
      </div>
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-growth">
          <h3>成长</h3>

          <p>您不仅是我们的客户，更是我们的合作伙伴<br>愿为您保驾护航，一同成长！</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="how-we-work">
  <div class="container">
    <h2>让我们一起<strong>开始！</strong></h2>

    <p class="tagline">您现在的状态是？</p>
    <ul>
      <li class="you-have you-have-m-idea">只是一个<strong>想法</strong><br><em>需要完善</em></li>
      <li class="you-have you-have-m-design">已经完成<strong>设计</strong><br><em>需要开发</em></li>
      <li class="you-have you-have-m-unfinapp">有一个<strong>未完成的系统</strong><br><em>需要帮助</em>
      </li>
      <li class="you-have you-have-m-morefeature">已经有一个<strong>完成品</strong><br><em>需要扩展功能</em></li>
    </ul>
    <div class="how-we-work--lines"></div>
  </div>
</section>

<div class="magic-circle" id="magic-circle"
     style="visibility: hidden; top: 3472.0625px; margin-left: -7px; position: fixed;">
  <svg width="14" height="14">
    <circle r="6" cx="7" cy="7" stroke="none" fill="#00afe5"></circle>
  </svg>
</div>

<section class="magic">
  <h2>OK，一起来看一下我们是怎么工作的</h2>
</section>

<section class="process is-magic-circle-active">
  <div class="process--line-begin"></div>
  <div class="container">
    <section class="process-step">
      <h3>Onboarding &amp; Discovery</h3>

      <p class="tagline">Let’s start the conversation</p>

      <p class="process-step--description">
        This part of the process is where we get a clear understanding of what your requirements are and you get
        an understanding of how we work. This ensures that we can both work together to successfully deliver
        your application.
        Additionally in this phase we can get the legal mumbo jumbo out of the way and move on to the fun stuff.
      </p>

      <div class="step-figures step-figures-m-double">
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-knowyou_2x-dd2a5f85.jpg')%>"
               src="<%=image_path('index/process-step/img-knowyou-a16e1935.jpg')%>">
          <figcaption>Getting to know you</figcaption>
        </figure>
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-knowus_2x-cf66a5c0.jpg')%>"
               src="<%=image_path('index/process-step/img-knowus-e8f6db78.jpg')%>">
          <figcaption>Getting to know us</figcaption>
        </figure>
      </div>
    </section>
    <section class="process-step">
      <h3>Wireframes &amp; UX Design</h3>

      <p class="tagline">From idea to featureset</p>

      <p class="process-step--description">
        This is where we empty your brain onto paper and produce a click flow. A click flow is a text
        representation of the journey that a user takes through your application. From the click flow we can
        produce low fidelity wireframe mockups which give a more visual representation of the user interface.
        With the wireframe in hand we can begin the story carding process. Each story card is a description of a
        single interaction or feature within your application.
      </p>

      <div class="step-figures step-figures-m-triple">
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-clickflow_2x-9faf915e.jpg') %>"
               src="<%=image_path('index/process-step/img-clickflow-b49d8836.jpg') %>">
          <figcaption>Click Flow</figcaption>
        </figure>
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-wireframing_2x-da013fae.jpg') %>"
               src="<%=image_path('index/process-step/img-wireframing-ea128e87.jpg') %>">
          <figcaption>Wireframes</figcaption>
        </figure>
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-card_2x-335f0b68.jpg') %>"
               src="<%=image_path('index/process-step/img-card-e95cccf0.jpg') %>">
          <figcaption>Story Cards</figcaption>
        </figure>
      </div>
    </section>
    <section class="process-step">
      <h3>Branding &amp; UI Design</h3>

      <p class="tagline">First lick of paint</p>

      <p class="process-step--description">
        During this phase our designers start to bring your branding and identity to the key pages of your
        application breathing life into it. These initial designs will set the tone for the rest of the UI
        design and development process.
      </p>

      <div class="step-figures">
        <figure>
          <img data-at2x="<%= image_path('index/process-step/img-design_2x-fadc1e54.jpg') %>"
               src="<%= image_path('index/process-step/img-design-aa4bf33d.jpg') %>">
          <figcaption>Making it Beautiful</figcaption>
        </figure>
      </div>
    </section>
    <section class="process-step">
      <h3>Development</h3>

      <p class="tagline">Where the magic happens</p>

      <p class="process-step--description">
        We begin to code, test and review. Working in 1 or 2 week iterations, our developers can now take the
        clearly defined features and implement them in the order that makes sense to you. Starting with the core
        features and then moving on to prioritised features that you want to deliver first to your customers.
        You will be an integral part of this process every step of the way and will be able to control
        priorities and sign-off features.
      </p>

      <div class="step-figures">
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-develop_2x-47a51eab.jpg')  %>"
               src="<%= image_path('index/process-step/img-develop-4a81a663.jpg') %>">
          <figcaption>Create the Code</figcaption>
        </figure>
      </div>
    </section>
  </div>
  <div class="process--line-end"></div>
</section>

<section class="launch">
  <div class="container">
    <h2>已经准备好！</h2>

    <p class="launch--tagline">3…2…1… 发射！</p>

    <div class="launch-image">
      <div class="launch-image--circle"></div>
      <div class="launch-image--smoke" style="transform: scaleX(1) translateZ(0px);"></div>
      <div class="launch-image--rocket" style="transform: translateY(0px) translateZ(0px);"></div>
    </div>
    <p class="launch--image">
      <img data-at2x="<%=  image_path('index/launch/img-rocket_2x-f44011bb.png') %>"
           src="<%= image_path('index/launch/img-rocket-28f83bb5.png') %>">
    </p>

    <p class="launch--description">
      Our involvement doesn't have to end here. <br>We can assist you in gathering user feedback, generating and
      understanding behavioral analytics, optimizing performance and adding new features to continue to build upon
      your success. <br>We also offer support plans to keep things ticking along smoothly.
    </p>
  </div>
</section>




<%= javascript_include_tag "lodash", "index","up-down" %>