
<a href="#" class="" style="position: absolute;
        z-index: 99999;
        height: 100px;
        width: 100px;"><img src="<%=image_path('logo/logo_h.png')%>" style="border: none;" ></a>
<header class="jumbotron jumbotron-m-index">

  <div class="jumbotron--background">

  </div>

  <div class="jumbotron--content introduction">
    <h3 class="" style="color:#ffffff"> 北京亚春华信息科技有限公司</h3>

    <p class="what-we-do">
      <span class="what-we-do--emphasis"  ><strong>Web</strong> &amp; <strong>Mobile</strong></span>
      <span class="what-we-do--emphasis" >互联网应用解决方案</span>
    </p>
    <hr>
    <p class="what-we-do"  > 专业的设计和开发团队</p>
    <div class="introduction--button button button-m-white-transparent js-scrollto" href="#welcome"  >了解更多...</div>

    <div class="introduction--scroll-down">
      <a class="js-scrollto" href="#welcome"><span class="fa fa-angle-double-down"></span><span
      class="u-sr-only"></span></a>
    </div>
  </div>

</header>

<div class="navbar-container navbar-container-m-sticky js-sticky">
  <nav class="navbar navbar-m-gray">
    <div class="container">
      <div class="navbar--brand">
        <a href="/">北京亚春华信息科技有限公司</a>
      </div>
      <div class="navbar--menu">

        <ul class="nav-menu">
          <li><a href="/">关于我们</a></li>
          <li><a href="/work">项目介绍</a></li>
          <li><a href="/contact">联系我们</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>


<section class="proem" id="welcome">
  <div class="container">
    <h3>
      关于我们
    </h3>

    <p style="text-indent: 2em;
            text-align: left;
            color: rgb(80, 80, 80);
            font-size: 1.2em;
            margin-top: 25px;
            line-height: 2.1em;">
      我们是一家面向全国提供IT解决方案与服务的公司，致力于通过创新的信息化技术来推动社会的发展与变革。
      为全国中小企业完成信息化转型提供最完整的解决方案，在信息化工业革命的浪潮中，我们愿意做中国“互联网+”事业的先行者。
    </p>
    <p style="text-indent: 2em;
            text-align: left;
            color: rgb(80, 80, 80);
            font-size: 1.2em;
            margin-top: 0.1em;
            line-height: 2.1em;">我们坚信：拥有最优秀的人才、最先进的工具、最合理的开发流程一定能创造出最完美的软件产品！
      在多年的开发工作中，我们为多家公司或个人开发出了符合他们自身需求软件产品，我们一定能继续
      为您创造出更多更优秀的产品！
    </p>

    <br><br>
  </div>
</section>


<section class="expertise">
  <div class="container">
    <h2>我们的工作</h2>

    <div class="expertise--contents">
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-uxui">
          <h3>UI &amp; UX 设计</h3>

          <p>我们的设计者可以根据用户的需求<br>设计出优秀的应用界面</p>
        </div>
      </div>
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-web">
          <h3>Web</h3>

          <p>使用目前最浏览行的后台程序框架<br>保障您的系统更稳定更快速</p>
        </div>
      </div>
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-mobile">
          <h3>Mobile</h3>

          <p>为iOS和Android等移动设备<br>创造更优秀的应用</p>
        </div>
      </div>
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-agile">
          <h3>敏捷</h3>

          <p>最少的迭代，最短的开发周期<br>最优秀的产品</p>
        </div>
      </div>
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-test">
          <h3>测试</h3>

          <p>专业的测试工作<br>保障产品的出错率为零</p>
        </div>
      </div>
      <div class="expertise--item-container">
        <div class="expertise-item expertise-item-m-icon-growth">
          <h3>成长</h3>

          <p>您不仅是我们的客户，更是我们的合作伙伴<br>愿为您保驾护航，一同成长！</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="how-we-work">
  <div class="container">
    <h2>让我们一起<strong>开始！</strong></h2>

    <p class="tagline">您现在的需求是？</p>
    <ul>
      <li class="you-have you-have-m-idea">只是一个<strong>想法</strong><br><em>需要完善</em></li>
      <li class="you-have you-have-m-design">已经完成<strong>设计</strong><br><em>需要开发</em></li>
      <li class="you-have you-have-m-unfinapp">有一个<strong>未完成的系统</strong><br><em>需要帮助</em>
      </li>
      <li class="you-have you-have-m-morefeature">已经有一个<strong>完成品</strong><br><em>需要扩展功能</em></li>
    </ul>
    <div class="how-we-work--lines"></div>
  </div>
</section>

<div class="magic-circle" id="magic-circle"
     style="visibility: hidden; top: 3472.0625px; margin-left: -7px; position: fixed;">
  <svg width="14" height="14">
    <circle r="6" cx="7" cy="7" stroke="none" fill="#00afe5"></circle>
  </svg>
</div>

<section class="magic">
  <h2>OK，一起来看一下我们是怎么工作的</h2>
</section>

<section class="process is-magic-circle-active">
  <div class="process--line-begin"></div>
  <div class="container">
    <section class="process-step">
      <h3>交流 &amp; 发现</h3>

      <p class="tagline">首先让我们坐在一起</p>

      <p class="process-step--description">
        在这个过程中，我们将会准确理解您的需求，并且也让您了解我们接下来是如何计划的。这将确保
        我们能够对您的产品设计出成功的原型，并且使我们接下来的工作和沟通变得非常轻松、有趣。
      </p>

      <div class="step-figures step-figures-m-double">
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-knowyou_2x-dd2a5f85.jpg')%>"
               src="<%=image_path('index/process-step/img-knowyou-a16e1935.jpg')%>">
          <figcaption>理解您的需求</figcaption>
        </figure>
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-knowus_2x-cf66a5c0.jpg')%>"
               src="<%=image_path('index/process-step/img-knowus-e8f6db78.jpg')%>">
          <figcaption>了解我们的工作</figcaption>
        </figure>
      </div>
    </section>
    <section class="process-step">
      <h3>原型 &amp;设计</h3>

      <p class="tagline">将想法转化为系统功能模块</p>

      <p class="process-step--description">

        在这个过程中，我们会通过专业设计工具将您的想法快速搭建一个系统原型，这个原型能够让我们彼此更加理解
        对方的想法，也会产生更多的具有建设性的灵感。

      </p>

      <div class="step-figures step-figures-m-triple">
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-clickflow_2x-9faf915e.jpg') %>"
               src="<%=image_path('index/process-step/img-clickflow-b49d8836.jpg') %>">
          <figcaption>快速原型</figcaption>
        </figure>
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-wireframing_2x-da013fae.jpg') %>"
               src="<%=image_path('index/process-step/img-wireframing-ea128e87.jpg') %>">
          <figcaption>页面框架</figcaption>
        </figure>
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-card_2x-335f0b68.jpg') %>"
               src="<%=image_path('index/process-step/img-card-e95cccf0.jpg') %>">
          <figcaption>功能模块</figcaption>
        </figure>
      </div>
    </section>
    <section class="process-step">
      <h3>UI &amp;UX</h3>

      <p class="tagline">增加一点色彩</p>

      <p class="process-step--description">
        在这个过程中我们的设计师会带您定义页面的业务流程和操作逻辑，这将初始化我们的页面设计和开发进程。
      </p>

      <div class="step-figures">
        <figure>
          <img data-at2x="<%= image_path('index/process-step/img-design_2x-fadc1e54.jpg') %>"
               src="<%= image_path('index/process-step/img-design-aa4bf33d.jpg') %>">
          <figcaption>让它更漂亮</figcaption>
        </figure>
      </div>
    </section>
    <section class="process-step">
      <h3>编码 &amp;测试</h3>

      <p class="tagline">更加精彩的事情就要发生</p>

      <p class="process-step--description">
        我们将开始编码、测试和迭代。经过了前面大约1-2周的工作，我们的开发工程师已经可以准确的定义系统
        架构和接口规则，接下来的工作非常关键，我们会定期发布测试版，也期望您随时提供给我们意见和建议。
      </p>

      <div class="step-figures">
        <figure>
          <img data-at2x="<%=image_path('index/process-step/img-develop_2x-47a51eab.jpg')  %>"
               src="<%= image_path('index/process-step/img-develop-4a81a663.jpg') %>">
          <figcaption>编写代码</figcaption>
        </figure>
      </div>
    </section>
  </div>
  <div class="process--line-end"></div>
</section>

<section class="launch">
  <div class="container">
    <h2>已经准备好！</h2>

    <p class="launch--tagline">3…2…1… 发射！</p>

    <div class="launch-image">
      <div class="launch-image--circle"></div>
      <div class="launch-image--smoke" style="transform: scaleX(1) translateZ(0px);"></div>
      <div class="launch-image--rocket" style="transform: translateY(0px) translateZ(0px);"></div>
    </div>
    <p class="launch--image">
      <img data-at2x="<%=  image_path('index/launch/img-rocket_2x-f44011bb.png') %>"
           src="<%= image_path('index/launch/img-rocket-28f83bb5.png') %>">
    </p>

    <p class="launch--description">
      我们的合作并没有结束。 <br>我们真诚的希望能够得到您的反馈，让我们能够不断的完善自己。 <br>
      您的满意就是我们最大的欣慰，您的成功也是我们的成功！
    </p>
  </div>
</section>




<%= javascript_include_tag "lodash", "index","up-down" %>