<div class="navbar-container navbar-container-m-sticky js-sticky is-sticky">
  <nav class="navbar navbar-m-inverted">
    <div class="container">
      <div class="navbar--brand">
        <a href="/">北京亚春华信息科技有限公司</a>
      </div>
      <div class="navbar--menu">

        <ul class="nav-menu">
          <li><a href="/">关于我们</a></li>
          <li><a href="/work">项目介绍</a></li>
          <li><a href="/contact">联系我们</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>


<div class="jumbotron jumbotron-m-work">
  <div class="jumbotron--content">
    <header class="page-header container">
      <h1>正在维护......</h1>

      <p class="tagline">正在维护......</p>
    </header>
  </div>
</div>

<section class="work" id="work">
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="SlimWiki" data-at2x="<%=image_path('work/work-item/slimwiki_2x-cae7c321.jpg')%>"
             src="<%=image_path('work/work-item/slimwiki-cf4fadfb.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>正在维护......</h2>

      <p class="tagline">正在维护......</p>

      <p>正在维护......</p>

      <p class="subtext">测试
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="Greatly" data-at2x="<%=image_path('work/work-item/greatly_2x-c6efb296.jpg')%>"
             src="<%=image_path('work/work-item/greatly-cce0c551.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>Greatly</h2>

      <p class="tagline">正在维护......</p>

      <p>正在维护......</p>

      <p class="subtext">正在维护......
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="PureCharity" data-at2x="<%=image_path('work/work-item/purecharity_2x-4a6e9b7b.jpg')%>"
             src="<%=image_path('work/work-item/purecharity-6419c9b3.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>正在维护......</h2>

      <p class="tagline">正在维护......</p>

      <p>正在维护......</p>

      <p class="subtext">正在维护......
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="500 Startups" data-at2x="<%=image_path('work/work-item/dashboard_2x-80be746b.jpg')%>"
             src="<%=image_path('work/work-item/dashboard-9f0ded84.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>500 Startups</h2>

      <p class="tagline">正在维护......</p>

      <p>正在维护......</p>

      <p class="subtext">正在维护......
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="Ship.io" data-at2x="<%=image_path('work/work-item/shipio_2x-bb854b54.jpg')%>"
             src="<%=image_path('work/work-item/shipio-96c63877.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>Ship.io</h2>

      <p class="tagline">正在维护......</p>

      <p>正在维护......</p>

      <p class="subtext">正在维护......
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="UpMySport" data-at2x="<%=image_path('work/work-item/upmysport_2x-341ad98a.jpg')%>"
             src="<%=image_path('work/work-item/upmysport-3dca4c3c.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>正在维护......</h2>

      <p class="tagline">正在维护......</p>

      <p>正在维护......</p>

      <p class="subtext">正在维护......
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="OurAddress" data-at2x="<%=image_path('work/work-item/ouraddress_2x-c50ca752.jpg')%>"
             src="<%=image_path('work/work-item/ouraddress-763e36fa.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>OurAddress</h2>

      <p class="tagline">正在维护......</p>

      <p>正在维护......</p>

      <p class="subtext">正在维护......
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="KidKind" data-at2x="<%=image_path('work/work-item/kidkind_2x-503f9a56.jpg')%>"
             src="<%=image_path('work/work-item/kidkind-683e4410.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>KidKind</h2>

      <p class="tagline">正在维护......</p>

      <p>正在维护......</p>

      <p class="subtext">正在维护......
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
</section>


<%= javascript_include_tag "lodash", "index","up-down" %>