<div class="navbar-container navbar-container-m-sticky js-sticky is-sticky">
  <nav class="navbar navbar-m-inverted">
    <div class="container">
      <div class="navbar--brand">
        <a href="/">亚春华</a>
      </div>
      <div class="navbar--menu">

        <ul class="nav-menu">
          <li><a href="/">关于我们</a></li>
          <li><a href="/work">项目介绍</a></li>
          <li><a href="/contact">联系我们</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>


<div class="jumbotron jumbotron-m-work">
  <div class="jumbotron--content">
    <header class="page-header container">
      <h1>Client Work</h1>

      <p class="tagline">A small selection of our work, made with love.</p>
    </header>
  </div>
</div>

<section class="work" id="work">
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="SlimWiki" data-at2x="<%=image_path('work/work-item/slimwiki_2x-cae7c321.jpg')%>"
             src="<%=image_path('work/work-item/slimwiki-cf4fadfb.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>SlimWiki</h2>

      <p class="tagline">Beautiful Team Wikis</p>

      <p>Wikis don’t have to be ugly, complex and hard to manage.
        Welcome to the future of the Wiki. Simple, versatile and
        powerful features and incredibly low friction content
        creation mean that your team spend their time focussing
        on your business.</p>

      <p class="subtext">测试
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="Greatly" data-at2x="<%=image_path('work/work-item/greatly_2x-c6efb296.jpg')%>"
             src="<%=image_path('work/work-item/greatly-cce0c551.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>Greatly</h2>

      <p class="tagline">Curated Marketplaces</p>

      <p>A Marketplace curated just for you. Beautiful things hand-picked by Tastemakers, made by Makers.</p>

      <p class="subtext">Ruby on Rails, PostgreSQL, Amazon S3, Heroku
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="PureCharity" data-at2x="<%=image_path('work/work-item/purecharity_2x-4a6e9b7b.jpg')%>"
             src="<%=image_path('work/work-item/purecharity-6419c9b3.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>PureCharity</h2>

      <p class="tagline">Start a Fundraiser</p>

      <p>Support charitable projects around the world or start your own
        fundraiser. A simple and secure way for people to give and
        advocate together.</p>

      <p class="subtext">Ruby on Rails, PostgreSQL, Redis, Capistrano, Amazon EC2, Amazon S3
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="500 Startups" data-at2x="<%=image_path('work/work-item/dashboard_2x-80be746b.jpg')%>"
             src="<%=image_path('work/work-item/dashboard-9f0ded84.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>500 Startups</h2>

      <p class="tagline">Dashboard Community</p>

      <p>Join your community of fellow startups and mentors, and
        have the knowledge of those who have been there before right
        at your fingertips. Get the tools and answers you need to
        grow your company.</p>

      <p class="subtext">Ruby on Rails, Amazon RDS, Amazon S3, EngineYard
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="Ship.io" data-at2x="<%=image_path('work/work-item/shipio_2x-bb854b54.jpg')%>"
             src="<%=image_path('work/work-item/shipio-96c63877.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>Ship.io</h2>

      <p class="tagline">Automated Mobile Builds</p>

      <p>Purpose-built to support and streamline mobile development workflows.
        Use it to automate your build-test-deploy cycles, and ship quality
        Apps faster.</p>

      <p class="subtext">Ruby on Rails, PostgreSQL, Amazon S3
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="UpMySport" data-at2x="<%=image_path('work/work-item/upmysport_2x-341ad98a.jpg')%>"
             src="<%=image_path('work/work-item/upmysport-3dca4c3c.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>UpMySport</h2>

      <p class="tagline">Find your instructor</p>

      <p>Reach your potential with hand-picked instructors and search 100s
        of activities with top instructors.</p>

      <p class="subtext">Ruby on Rails, Redis, PostgreSQL, Amazon S3
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="OurAddress" data-at2x="<%=image_path('work/work-item/ouraddress_2x-c50ca752.jpg')%>"
             src="<%=image_path('work/work-item/ouraddress-763e36fa.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>OurAddress</h2>

      <p class="tagline">Connect. Share. Discuss.</p>

      <p>OurAddress enables residents &amp; managers of shared properties
        such as condos and office buildings to create community websites
        for their property and stay informed and in-touch —
        anytime, anywhere.</p>

      <p class="subtext">Ruby on Rails, PostgreSQL, Amazon S3
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="KidKind" data-at2x="<%=image_path('work/work-item/kidkind_2x-503f9a56.jpg')%>"
             src="<%=image_path('work/work-item/kidkind-683e4410.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2>KidKind</h2>

      <p class="tagline">Find kid friendly places</p>

      <p>KidKind allows parents to discover great places to take their kids
        with reviews and ratings written by other parents.</p>

      <p class="subtext">iOS, Ruby on Rails, PostgreSQL
      </p>
      <a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>
    </div>
  </article>
</section>


<%= javascript_include_tag "lodash", "index","up-down" %>