<div class="navbar-container navbar-container-m-sticky js-sticky is-sticky">
  <nav class="navbar navbar-m-gray">
    <div class="container">
      <div class="navbar--brand">
        <a href="/">北京亚春华信息科技有限公司</a>
      </div>
      <div class="navbar--menu">

        <ul class="nav-menu">
          <li><a href="/">关于我们</a></li>
          <li><a href="/work">项目介绍</a></li>
          <li><a href="/contact">联系我们</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>


<div class="jumbotron jumbotron-m-work">
  <div class="jumbotron--content">
    <header class="page-header container">
      <h2>部分产品展示</h2>

      <p class="tagline">所有项目，无论大小，用心付出，成就你我</p>
    </header>
  </div>
</div>

<section class="work" id="work">
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="SlimWiki" data-at2x="<%=image_path('work/work-item/oa.png')%>"
             src="<%=image_path('work/work-item/oa.png')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2></h2>

      <p class="tagline">企业办公系统</p>

      <p>本系统是利用当前的最新软件开发技术和Internet资源，结合某企业日常办公机制，为其量身定做的一套基于B/S模式的内部办公平台软件，它使企业日常办公管理向着制度化、规范化、透明化发展，逐步得到无纸化办公的目的。</p>

      <!--<p class="subtext">测试-->
      <!--</p>-->
      <!--<a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>-->
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="Greatly" data-at2x="<%=image_path('work/work-item/zsh.png')%>"
             src="<%=image_path('work/work-item/zsh.png')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2></h2>

      <p class="tagline">中石化智能仓储管理</p>

      <p>通过智能化仓储管理平台的实施，实现与ERP系统的业务流程和技术集成，对供应商进行统一管理。
        通过webgis技术和移动APP终端技术对配送全过程进行监控和管理，
        通过图形化的方式对仓储相关数据进行直观的图标展示，
        为领导决策、事故事件回滚提供强大的数据支撑，展示智能化仓储新一代管理模式。
      </p>

      <!--<p class="subtext">正在维护......-->
      <!--</p>-->
      <!--<a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>-->
    </div>
  </article>

  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="PureCharity" data-at2x="<%=image_path('work/work-item/zhsq.jpg')%>"
             src="<%=image_path('work/work-item/zhsq.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">

      <p class="tagline">智慧社区APP</p>

      <p>智慧社区App是一款为社区居民服务的社区软件平台。
        <br/>物业管家：轻松实现信息推送、报修、投诉建议、号码通、在线缴费、物业实时对讲等功能。
        <br/>社区购物：足不出户，即可轻松实现线上下单，线下服务，吃喝玩乐一站购，提升社区生活品质。
        <br/>居家养老：随时为父母预约养老顾问，预约居家上门服务，身体检查，父母养老，再无后顾之忧。
        <br/>社区政务：对接社区居委会，为社区居民提供各类社区公共服务事项。</p>

      <!--<p class="subtext">正在维护......-->
      <!--</p>-->
      <!--<a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>-->
    </div>
  </article>


  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="PureCharity" data-at2x="<%=image_path('work/work-item/zxjk.jpg')%>"
             src="<%=image_path('work/work-item/zxjk.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">

      <p class="tagline">在线监控</p>

      <p>这是为一家供水、供暖公司做的一套智能化在线监控软件。
        <br/>随时掌握设备的运行状态，远程控制设备开关，进行时间段设置/阀门设置/模式设置/温度设置/终端维护等操作，
        以便让设备优化运行，减少能源浪费。
        <br/>通过webgis技术，更加直观的将设备信息展示在地图上。
      </p>

      <!--<p class="subtext">正在维护......-->
      <!--</p>-->
      <!--<a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>-->
    </div>
  </article>

  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="PureCharity" data-at2x="<%=image_path('work/work-item/web.jpg')%>"
             src="<%=image_path('work/work-item/web.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">

      <p class="tagline">企业网站</p>

      <p>我们设计并开发的网站全部使用目前最炫、最潮流的技术，以便让浏览网站的用户可以获得最佳体验。并且，
        所有网站均是可以在电脑端、移动设备端、微信等平台完美呈现的响应式网站。</p>

      <!--<p class="subtext">正在维护......-->
      <!--</p>-->
      <!--<a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>-->
    </div>
  </article>
  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="500 Startups" data-at2x="<%=image_path('work/work-item/lt.jpg')%>"
             src="<%=image_path('work/work-item/lt.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">
      <h2></h2>
      <p class="tagline">律透APP</p>

      <p>此应用的主要功能是：<br/>
        1、提供民事案件纠纷的解决方案，这个解决方案也是该app的核心产品。<br/>
        2、案件当事人可以及时了解案件的最新进展，获得有关案情问题的专业答复等。<br/>
        3、上传案件，免费获得案件的初级解决方案，或者成为会员，得到更专业的解决方案。<br/>
        4、发布更多的法律知识，让普通百姓可以学法、懂法。<br/>
      </p>

      <!--<p class="subtext">正在维护......-->
      <!--</p>-->
      <!--<a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>-->
    </div>
  </article>
  <!--<article class="work-item">-->
    <!--<figure>-->
      <!--<div class="work-showcase">-->
        <!--<img alt="Ship.io" data-at2x="<%=image_path('work/work-item/ms.jpg')%>"-->
             <!--src="<%=image_path('work/work-item/ms.jpg')%>">-->
      <!--</div>-->
    <!--</figure>-->
    <!--<div class="work-item--info">-->
      <!--<h2>营养美食</h2>-->

      <!--<p>她将告诉你以植物纤维为主的食谱，非常方便和有趣。这些食谱都是非常健康新鲜的食材，而且大多数是无麸质，无糖，并专注于营养的均衡。当你不知道午餐或者晚餐该吃什么的时候，你不妨试让她出出主意</p>-->

      <!--&lt;!&ndash;<p>正在维护......</p>&ndash;&gt;-->

      <!--&lt;!&ndash;<p class="subtext">正在维护......&ndash;&gt;-->
      <!--&lt;!&ndash;</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>&ndash;&gt;-->
    <!--</div>-->
  <!--</article>article-->

  <article class="work-item">
    <figure>
      <div class="work-showcase">
        <img alt="PureCharity" data-at2x="<%=image_path('work/work-item/o1.jpg')%>"
             src="<%=image_path('work/work-item/o1.jpg')%>">
      </div>
    </figure>
    <div class="work-item--info">

      <p class="tagline">在线订购系统</p>

      <p>这是为一家生产门窗建材的企业开发的一套“在线订购系统”，代理商在获得生产企业授权后，可以在线申请采购订单。
      生产企业将自己的产品放到系统中，包括产品价格、照片等，供代理商挑选。
        代理商的订单状态包括快递号等会随时更新，以便双方可以及时跟踪订单。</p>

      <!--<p class="subtext">正在维护......-->
      <!--</p>-->
      <!--<a target="_blank" href="http://www.baidu.com">http://www.baidu.com</a>-->
    </div>
  </article>

</section>


<%= javascript_include_tag "lodash", "index","up-down" %>