<div class="navbar-container navbar-container-m-sticky js-sticky">
  <nav class="navbar navbar-m-inverted">
    <div class="container">
      <div class="navbar--brand">
        <a href="/">Oozou</a>
      </div>
      <div class="navbar--menu">

        <ul class="nav-menu">
          <li><a href="/">关于我们</a></li>
          <li><a href="/work">项目介绍</a></li>
          <li><a href="/contact">联系我们</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>


<div class="jumbotron jumbotron-m-contact">
  <div class="jumbotron--content container">
    <header class="page-header">
      <h1>请联系我们</h1>

      <p class="tagline">我们一直期待您的来信！</p>
    </header>
  </div>
</div>

<section class="contact-section" id="contact">
  <div class="container">
    <%= form_for :email,:html=>{:class=>"contact-form"} do |ct|%>

      <div class="contact-form--row">
        <label for="contact-form--name">您是谁？</label>

        <div class="contact-form--split">
          <div class="contact-form--split-item">
            <%= ct.text_field :name,:class=>"js-required",:placeholder=>"您的名字" %>

          </div>
          <div class="contact-form--split-item">
            <label>
              <%= ct.text_field :phone,:class=>"js-required",:placeholder=>"您的联系方式" %>
              <!--<input class="js-required" name="email" id="contact-form--email" placeholder="您的联系方式" type="text">-->
            </label>
          </div>
        </div>
      </div>
      <div class="contact-form--row">
        <label for="contact-form--idea">我们可以为您提供什么帮助？</label>
        <%= ct.text_area :idea,:class=>"js-required",:placeholder=>"您需要我们做什么" %>

      </div>
      <div class="contact-form--row">
        <label for="contact-form--budget">您的预算有多少？</label>

        <div id="heapbox_contact-form--budget" class="heapBox">
          <a href="" class="holder" rel="5万--10万">5万--10万</a>
          <a href="" class="handler"></a>

          <div class="heap" style="display: none;">
            <ul class="heapOptions">
              <li class="heapOption"><a href="" rel="5万--10万" title="5万--10万" class="selected">5万--10万</a></li>
              <li class="heapOption"><a href="" rel="10万--25万" title="10万--25万" class="">10万--25万</a></li>
              <li class="heapOption"><a href="" rel="25万--45万" title="20万--45万" class="">20万--45万</a></li>
              <li class="heapOption"><a href="" rel="45万以上" title="45万以上" class="">45万以上</a></li>
            </ul>
          </div>
        </div>
        <select name="email[budget]" id="contact-form--budget" style="display: none;">
          <option value="5万--10万">5万--10万</option>
          <option value="10万--25万">10万--25万</option>
          <option value="25万--45万">25万--45万</option>
          <option value="45万以上">45万以上</option>
        </select>
      </div>
      <div class="contact-form--row">
        <label for="contact-form--source">您是如何知道我们的？</label>

        <div id="heapbox_contact-form--source" class="heapBox">
          <a href="" class="holder" rel="网络搜索">网络搜索</a>
          <a href="" class="handler"></a>

          <div class="heap" style="display: none;">
            <ul class="heapOptions">
              <li class="heapOption"><a href="" rel="网络搜索" title="网络搜索" class="selected">网络搜索</a></li>
              <li class="heapOption"><a href="" rel="朋友推荐" title="朋友推荐" class="">朋友推荐</a></li>
              <li class="heapOption"><a href="" rel="亚春华员工推荐" title="亚春华员工推荐" class="">亚春华员工推荐</a></li>
              <li class="heapOption"><a href="" rel="亚春华客户推荐" title="亚春华客户推荐" class="">亚春华客户推荐</a></li>
              <li class="heapOption"><a href="" rel="其它渠道" title="其它渠道" class="">其它渠道</a></li>
            </ul>
          </div>
        </div>
        <select name="email[source]" id="contact-form--source" style="display: none;">
          <option value="网络搜索">网络搜索</option>
          <option value="朋友推荐">朋友推荐</option>
          <option value="亚春华员工推荐">亚春华员工推荐</option>
          <option value="亚春华客户推荐">亚春华客户推荐</option>
          <option value="其它渠道">其它渠道</option>
        </select>
      </div>
      <div class="contact-form--row-m-submit">
        <button class="contact-form--submit-button" type="submit">发 送</button>
      </div>
   <% end %>
  </div>
</section>
<%= javascript_include_tag "lodash", "contact" %>