<div class="navbar-container navbar-container-m-sticky js-sticky">
  <nav class="navbar navbar-m-gray">
    <div class="container">
      <div class="navbar--brand">
        <a href="/">北京亚春华信息科技有限公司</a>
      </div>
      <div class="navbar--menu">

        <ul class="nav-menu">
          <li><a href="/">关于我们</a></li>
          <li><a href="/work">项目介绍</a></li>
          <li><a href="/contact">联系我们</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>


<div class="jumbotron jumbotron-m-contact">
  <div class="jumbotron--content container">
    <header class="page-header">
      <h1>请联系我们</h1>

      <p class="tagline">我们一直期待您的来信！</p>
    </header>
  </div>
</div>

<section class="contact-section" id="contact">
  <div class="container">
    <%= form_for :email,:html=>{:class=>"contact-form"} do |ct|%>

      <div class="contact-form--row">
        <label for="contact-form--name">您是谁？</label>

        <div class="contact-form--split">
          <div class="contact-form--split-item">
            <%= ct.text_field :name,:class=>"js-required",:placeholder=>"您的名字" %>

          </div>
          <div class="contact-form--split-item">
            <label>
              <%= ct.text_field :phone,:class=>"js-required",:placeholder=>"您的联系方式" %>
              <!--<input class="js-required" name="email" id="contact-form--email" placeholder="您的联系方式" type="text">-->
            </label>
          </div>
        </div>
      </div>
      <div class="contact-form--row">
        <label for="contact-form--idea">我们可以为您提供什么帮助？</label>
        <%= ct.text_area :idea,:class=>"js-required",:placeholder=>"您需要我们做什么" %>

      </div>

      <div class="contact-form--row-m-submit">
        <button class="contact-form--submit-button" type="submit">发 送</button>
      </div>
   <% end %>
  </div>
</section>
<%= javascript_include_tag "lodash", "contact" %>