<!DOCTYPE html>
<html lang="zh-CN"
      class="ua-windows_nt ua-windows_nt-6 ua-windows_nt-6-1 ua-chrome ua-chrome-40 ua-chrome-40-0 ua-chrome-40-0-2214 ua-chrome-40-0-2214-5 ua-desktop ua-desktop-windows ua-webkit ua-webkit-537 ua-webkit-537-36 js wf-freighttextpro-i4-active wf-freighttextpro-i7-active wf-freighttextpro-n4-active wf-proximanova-i4-active wf-proximanova-n4-active wf-proximanova-n7-active wf-active">
<head>
  <meta charset="UTF-8">
  <title>亚春华科技</title>
  <meta http-equiv="X-Recruiting" content="If you're reading this, maybe you should be working at Oozou instead.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="description"
        content="Oozou designs and builds web and mobile applications using Ruby on Rails, iOS and Android">
  <meta name="keywords"
        content="Software,Ruby,Rails,iOS,Android,Development,Interface,Experience,Design,UI,UX,GUI,Agile,Asia,Singapore,Thailand,Bangkok">
  <meta http-equiv="X-Recruiting" content="If you're reading this, maybe you should be working at Oozou instead.">
  <link rel="apple-touch-icon-precomposed" href="asset/images/common/favicon/favicon152-e1462d32.png">


  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'bbt6nca' %>

  <style type="text/css">
      .tk-proxima-nova {
          font-family: "proxima-nova", sans-serif;
      }

      .tk-freight-text-pro {
          font-family: "freight-text-pro", sans-serif;
      }</style>

  <%= stylesheet_link_tag 'typekit' %>

  <script>try {
      Typekit.load();
  } catch (e) {
  }</script>

  <%= javascript_include_tag 'jquery-2.1.1.min','Retina' %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<%= yield %>

<section class="talk talk-m-large">
  <div class="container">
    <h2>Want to talk? Advice is always free!</h2>
    <a class="button button-m-default" href="/contact">Get in touch</a>
  </div>
</section>

<section class="connect">
  <ul>
    <li class="connect--subscription-form">
      <h2><label for="mce-EMAIL">Subscribe to our newsletter</label></h2>

      <!-- Begin MailChimp Signup Form -->
      <form action="//oozou.us2.list-manage.com/subscribe/post?u=2d9367408e0f70bb0fef9928b&amp;id=280d8b6877"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate="">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text"
                                                               name="b_2d9367408e0f70bb0fef9928b_280d8b6877"
                                                               tabindex="-1" value=""></div>
        <input type="email" class="input-m-white-transparent required email" value="" name="EMAIL"
               id="mce-EMAIL" placeholder="Email Address">
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button button-m-default">Sign
          Up
        </button>
      </form>
      <!--End mc_embed_signup-->

    </li>
  </ul>
</section>

<section class="map" data-marker-icon="<%= image_path('common/map/place-3bc8a892.svg') %>">
  <div class="map--item map--item-m-left" data-subhover=".map-overlay--circle, .map--google-map">
    <div class="map--google-map">

    </div>
    <div class="map-overlay">
      <div class="map-overlay--circle"></div>
    </div>
    <div class="map-info">
      <p class="map-info--address"><strong>1 Market Street, San Francisco</strong></p>

      <p class="map-info--phone">+1 (844) 44-OOZOU</p>

      <p class="map-info--email">hello@oozou.com</p>
    </div>
  </div>
  <div class="map--item map--item-m-right" data-subhover=".map-overlay--circle, .map--google-map">
    <div class="map--google-map">
    </div>
    <div class="map-overlay">
      <div class="map-overlay--circle"></div>
    </div>
    <div class="map-info">
      <p class="map-info--address"><strong>
        Interchange Building, Sukhumvit Road, Bangkok
      </strong></p>

      <p class="map-info--phone">+66 (0)2611 2560</p>

      <p class="map-info--email">hello@oozou.com</p>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="footer--brand">
      <a href="/">Oozou</a>
    </div>
    <div class="footer--copyright">
      @ 2015 亚春华科技
    </div>
  </div>
</footer>
<iframe id="frame-onFontResize1428161143000"
        style="width: 100em; height: 10px; position: absolute; border-width: 0px; top: -5000px; left: -5000px;"></iframe>
</body>
</html>
