<!DOCTYPE html>
<html lang="zh-CN"
      class="ua-windows_nt ua-windows_nt-6 ua-windows_nt-6-1 ua-chrome ua-chrome-40 ua-chrome-40-0 ua-chrome-40-0-2214 ua-chrome-40-0-2214-5 ua-desktop ua-desktop-windows ua-webkit ua-webkit-537 ua-webkit-537-36 js wf-freighttextpro-i4-active wf-freighttextpro-i7-active wf-freighttextpro-n4-active wf-proximanova-i4-active wf-proximanova-n4-active wf-proximanova-n7-active wf-active">
<head>
  <meta charset="UTF-8">
  <title>北京亚春华信息科技有限公司</title>
  <meta http-equiv="X-Recruiting" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="baidu-site-verification" content="iOZmo7FpFM" />
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="description"
        content="北京亚春华信息科技有限公司">
  <meta name="keywords"
        content="软件开发,苹果,安卓,物联网+,Software,iOS,Android">
  <link rel="apple-touch-icon-precomposed" href="assets/images/common/favicon/favicon152-e1462d32.png">


  <!--[if IE 7]>
          <%= stylesheet_link_tag 'font-awesome-ie7.min.css' %>
  <![endif]-->

  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'bbt6nca' %>

  <style type="text/css">
      .tk-proxima-nova {
          font-family: "proxima-nova", sans-serif;
      }

      .tk-freight-text-pro {
          font-family: "freight-text-pro", sans-serif;
      }</style>

  <%= stylesheet_link_tag 'typekit' %>

  <script>try {
     // Typekit.load();
  } catch (e) {
  }</script>

  <%= javascript_include_tag 'jquery-1.11.3.min','Retina' %>

  <%= stylesheet_link_tag 'font-awesome.min.css'%>
<script>
  $(function(){
      if(!$.support.leadingWhitespace ){
          alert("您使用的浏览器版本太低...无法访问我们的网站，请升级您的浏览器。")
      }
  })
</script>
</head>
<body>

<%= yield %>

<section class="talk talk-m-large">
  <div class="container">
    <h2>让我们开始合作吧！</h2>
    <a class="button button-m-default" href="/contact">给我们留言</a>
  </div>
</section>

<section class="connect">
 <h2 style="font-weight: bold;">还可以写信或者打电话联系我们</h2>
</section>

<section class="map" data-marker-icon="<%= image_path('common/map/place-3bc8a892.svg') %>">
  <div class="map--item map--item-m-left" data-subhover=".map-overlay--circle, .map--google-map">
    <div class="map--google-map">

    </div>
    <div class="map-overlay">
      <div class="map-overlay--circle"></div>
    </div>
    <div class="map-info">
      <p class="map-info--address"><strong>产品部 许经理</strong></p>

      <p class="map-info--phone">+86 15652508851</p>
      <p class="map-info--email">iych100@163.com</p>
    </div>
  </div>
  <div class="map--item map--item-m-right" data-subhover=".map-overlay--circle, .map--google-map">
    <div class="map--google-map">
    </div>
    <div class="map-overlay">
      <div class="map-overlay--circle"></div>
    </div>
    <div class="map-info">
      <p class="map-info--address"><strong>
        技术部 刘经理
      </strong></p>
      <p class="map-info--phone">+86 15811151523</p>
      <p class="map-info--email">iych100@163.com</p>
    </div>
  </div>
</section>
<footer class="footer" style="background-color: #333a42;color: #878891">
  <div class="container">
    <div class="footer--brand">
      <a href="/">亚春华</a>
    </div>
    <div class="">
      @2015 北京亚春华信息科技有限公司
    </div>
  </div>
</footer>
<iframe id="frame-onFontResize1428161143000"
        style="width: 100em; height: 10px; position: absolute; border-width: 0px; top: -5000px; left: -5000px;"></iframe>
</body>
</html>
